body {
    display: flex;
    align-items: center;
    flex-direction: column;
    user-select: none;
    padding-top: 20px;
}
textarea {
    width: 75%;
}
svg {
    fill: #fff;
}
p,a {
    user-select: none;
}